  <div class="link-header">
     <button class="messageButton">Besties</button>
  </div>

<div class="greeting">
  <p> Hello, {{ name }}!</p>
  <div>Status <form name="userStatus" class="statusForm" ng-submit='updateStatus()'>
        <input type='text' class="statusInput" ng-model='userStatus'>
      </form>
  </div>
  <p><span>your bestie - {{ bestieName }}  </span></p>
  <p><span class="bestieStatus">"{{ bestieStatus }}"</span></p>

  <!-- <a href="#" ng-click='makeUser()'>Make a user</a> -->
</div>

<div id='messages'>
  <div class="messagesContainer">
    <div class="messageContainer" ng-repeat='message in messages'>
      <p>{{ message.sender }}</p>
      <p>{{ message.message }}</p>
    </div>
  </div>
  <form name="sendMessage" class="messageForm" ng-submit='addMessage()'>
    <input type='text' class="messageInput" ng-model='message'>
    <button class="messageButton">send!</button>
  </form>
</div>
