  <div class="link-header">
     <button class="shortlyButton">Besties</button>
  </div>

<div class="greeting">
  <p> Hello, {{ name }}, your bestie is {{ bestieName }} </p>
  <a href="#" ng-click='makeUser()'>Make a user</a>
</div>

<div id='messages'>
  <div class="messagesContainer">
    <!-- <a href='{{ link.base_url + "/api/links/" + link.code }}' ng-repeat='link in data.links'>
      <div class="linkContainer">
        <p>{{ link.visits }}</p>
        <p>{{ link.base_url + "/api/links/" + link.code }}</p>
        <p>{{ link.url }}</p>
      </div>
    </a> -->
  </div>
</div>
